// Enable conda profile
profiles {
    conda {
        process.conda = null  // Reset process-specific conda environments
        conda.enabled = true  // Enable conda for all processes
    }
}

// Process-specific resource configurations
process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename }
    ]
} 